*.DS_Store
*/.vscode
FunctionalProgramming/.DS_Store
FunctionalProgramming/Exercise01/.stack-work/
*.mp4
FunctionalProgramming/.DS_Store
FunctionalProgramming/.DS_Store
*FunctionalProgramming/Exercise02/.stack-work/
*FunctionalProgramming/Exercise03/.stack-work/
*FunctionalProgramming/Exercise04/.stack-work/

